.card {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: pointer !important;
    border: 1px solid black;
    border-radius: 0px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    background-image: none !important;
    color: black !important;

}

.card-title {
    font-size: 1.7rem;
    font-weight:400;
}

.card-body {
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .card-title {
        font-size: 1.8rem;
        font-weight:500;        
    }
}


/* Landscape phone to portrait tablet */
@media (device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) 
{
    .card-title {
        font-size: 1.8rem;
        font-weight:500;
    }
}