body {
    background-color: white;
    color: black;
    font-family: "Work Sans";
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.center {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 6rem;
}

.main {
    margin-top: 5vh;
    width: 50vw;
}

.navbar {
    width: 70%;
}

.navbar-nav {
    justify-content: space-between;
} 

.main-container {
    max-width: 50vw;
}

.nav-link {
    color: black;
}

a {
    font-family: "Work Sans";
    font-size: 2em;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 9px;
}

.title-text {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

@media screen and (max-width: 480px) {

    .main-content {
        max-width: 90vw;
        margin: 5vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar {
        width: 100%;
    }
    .navbar-toggler {
        width: 100%;
        border-radius: 0;
    }
    a {
        font-family: "Work Sans";
        font-size: 1.2em;
        font-weight: 300;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 9px;
    }
    li {
        margin-top: 2em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
            .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .main-content {
        max-width: 90vw;
        margin: 5vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar {
        width: 100%;
    }
    .navbar-toggler {
        width: 100%;
        border-radius: 0;
    }
    a {
        font-family: "Work Sans";
        font-size: 1.5em;
        font-weight: 300;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 9px;
    }
    li {
        margin-top: 2em;
    }
}