<main>
    <div class="mt-4">
        <div class="container mt-4 mb-5">
            <div class="row">
                <div class="col text-container phil-border text-center d-flex justify-content-center align-items-center">
                    <span class="home-text">28th June 2025</span>
                </div>
                <div class="col text-center d-flex justify-content-center align-items-center">
                    <span class="home-text">Chateau de Deulin (Hotton)</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mt-4 justify-content-center align-items-center">
            <img src="../../../assets/IMG-20240703-WA0004.jpg" class="couple-image" />
            <button class="btn" routerLink="/rsvp">Join us in celebrating our wedding. Leave your details to get your invitation!</button>
        </div>
    </div>
</main>